<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
	<testsuites>
		<testsuite name="SemanticACL Integration Tests">
			<directory>tests/phpunit/integration</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<!-- Exclude the Broken group so known-broken SMW infrastructure tests don't block the suite -->
			<group>Broken</group>
		</exclude>
	</groups>
</phpunit>
